/*https://codepen.io/websitebeaver/pen/oLGGNz
https://stackoverflow.com/questions/16201948/how-to-exclude-particular-class-name-in-css-selector/16202009*/

path:not(.silhouette):hover {
  stroke: #fff !important;
  fill: #E50B0B !important;
  cursor: pointer;
  fill-opacity: 1;
}

.default-muscle {
  stroke-width: 1;
  stroke: #1B33CF;
  fill-opacity: 0;
  fill: "";
}

.highlighted-muscle {
  stroke-width: 1;
  stroke: #fff;
  fill-opacity: 1;
  fill: #E50B0B;
}
