.spinner {
  border: 10px solid lightgrey;
  border-top: 10px solid #007bff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spinner 2s linear infinite;
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
