.custom-container {
  width: 100%;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  flex-grow: 1;
}

.custom-base-container {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.custom-center {
  text-align: center;
}

a {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

.custom-right-margin {
  margin-right: 10px;
}

.table {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: transparent;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
